@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

body {
    font-family: "Jacquard 12", serif;
    font-weight: 400;
    font-style: normal;
}

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid black;
    column-gap: 1rem;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: black;
    color: whitesmoke;
    padding: 1rem;
    break-inside: avoid;
}

.columns .quote {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: black;
    column-span: all;
}

.nowrap {
    white-space: nowrap;
}