@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquard+12&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: "Jacquard 12", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 10%;
    font-size: 2rem;
}

/* input,
button {
    font: inherit;
} */

p {
    text-decoration: none;
    text-transform: capitalize;
    text-align: left;
    text-indent: 5rem;
    line-height: 1.5em;
    word-spacing: 0.3rem;
    font-weight: normal;
    font-style: normal;
}